<p id="notice"><%= notice %></p>
<%= link_to "<- Sucursal #{BranchOffice.find(params[:branch_office_id]).name}", branch_office_path(params[:branch_office_id]) %>

<h1>Empleados</h1>

<table id="example" class="table table-striped table-bordered" style="width:100%" >
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Identificación</th>
      <th>Amail</th>
      <th>Area</th>
      <th colspan=""></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |employee| %>
      <tr>
        <td><%= employee.names %></td>
        <td><%= employee.identification %></td>
        <td><%= employee.email %></td>
        <td><%= employee.area.name %></td>
        <td><%= link_to 'Ver', branch_office_employees_path(employee, branch_office_id: params[:branch_office_id]) %>
        <%= link_to 'Editar', edit_branch_office_employee_path(employee, branch_office_id: params[:branch_office_id] ) %>
        <%= link_to 'Eliminar', branch_office_employees_path(employee, branch_office_id: params[:branch_office_id]), method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Registrar Empleado', new_branch_office_employee_path %>
