<%= form_with(model: branch_office, local: true) do |form| %>
  <% if branch_office.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(branch_office.errors.count, "error") %> prohibited this branch_office from being saved:</h2>

      <ul>
      <% branch_office.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :city_id %>
    <%= form.select :city_id, options_from_collection_for_select(@cities, :id, :description ),{}, {
      class: 'form-control'} %>
  </div>

  <div class="field form-group">
    <%= form.label :Gerente %>
    <%= form.select :user_id, options_from_collection_for_select(@users, :id, :description),{}, {
      class: 'form-control'} %>
  </div>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :phone %>
    <%= form.text_field :telephone, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar', class: "btn btn-primary"%>
  </div>
<% end %>
