<%= form_with(model: sale, local: true) do |form| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :client_id %>
    <%= form.select :client_id, options_from_collection_for_select(Client.all, :id, :full_name, sale.client_id),{}, {:class => 'form-control'}%>
  </div>

  <div class="field form-group">
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="field form-group">
    <%= form.label :invoice_code, class: 'form-text' %>
    <%= form.text_field :invoice_code, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar', class: "btn btn-primary" %>
  </div>
<% end %>
